@media only screen and (min-width: 320px) and (max-width: 767px) {
    .whole-homepage {
      width: 100%;
     height:auto;
    }
    .nav-bar {
      display: none;
    }
    .content-heading {
      flex-direction: column;
      width: 100%;
  
    }
    .main-heading {
      font-size: 16px;
  
    }
    .content{
      display: flex;
      flex-direction: column;
      padding-top: 0.5em;
      margin-left:-1em;
  
    }
    .content-para {
      padding-top: 12px;
      font-size: 15px;
      line-height: 17px;
      width: 100%;
    }
    .content-button button {
      padding: 4px;
      margin-top: 20px;
      font-size:15px;
    }
    .content-images{
      padding-top:2em;
    }
    .img2 {
      width:27%;
      height:16vh;
      rotate: 0deg;
    }
    .img1 {
      width: 26%;
      height: 16vh;
      rotate:0deg;
    }
  
    .content-images {
      padding-right: 12px;
      padding-bottom: 20px;
    }
    .paragraph{
      padding:10px;
    }
  .aboutus{
    width: 100%;
  }
  .aboutuscontent{
    display:flex;
    flex-direction: column;
  }
  .downloadbtn{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  .aboutus h1{
    margin-top: 1em;
  }
  .heading{
    font-size:15px;
  }
  .aboutuscontentp1 {
    font-weight: 800;
    font-size: 15px;
    padding-bottom:12px;
    text-align: center;
}
.aboutuscontentp2 {
  text-align: center;
  font-weight: 600;
  color: #4ea988;
  font-size: 16px;
  padding-bottom:12px;
}
.aboutuscontentp3 {
  line-height: 21px;
  padding-bottom: 2px;
  font-size: 14px;
}
.aboutuscontent {
  padding-top: 0%;
}
.our-mission-vission{
  width: 100%;
}

.mission,.vission{
  display: flex;
  flex-direction: column;
}
.mission-heading,.vission-heading {
  padding-bottom: 20px;
  font-size: 40px;
  font-size: 22px;
  text-align: center;
}
.mission-content{
  padding-left: 5em;
  font-size:11px;
  text-align: center;
  padding-left: 1px;
}
.vission-content {
  padding-left: 0em;
  padding-right: 0em;
  text-align: center;
  font-size: 11px;

}

.misson-img-2 {
  width: 100%;
  padding-right: 0px;
}

.mission-image {
    display: flex;
    padding-right: 0em;
    padding-left: 0em;
    padding-bottom: 20px;
    width: 100%;
  padding-top:20px;

}
.misson-img-1 {
  width: 40%;
  padding-left:10%;
}
.misson-img-2 {
  width: 45%;
  height: 50%;
  padding-right:10%;
}
.vission {
  padding-top: 0em;
}
.box{
  margin-left:60px;
}

.box1-2{
  display:flex;
  flex-direction: column;
}
.box2-3{
  display: flex;
  flex-direction: column;
}
.box3{
  justify-content:space-between;
}
.mission-button-2,.vission-button-2 {
  margin-left: 20px;
}
.action-text{
  text-align: center;
  margin-top:20px;
  margin-bottom: 20px;
  font-size:20px;
}
.action-boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right:60px;
}
.a-box{
padding:12px;
margin-bottom: 20px;
font-size:20px;
}
}