* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0px 40px;
  position: fixed;
  background-color: #0e4e3e;
  position: sticky;
  top: 0;
  position: fixed;
  z-index: 1;
}
nav .logo h1 {
  font-size: 25px;
  color: #45c694;
  float: left;
  font-weight: 300px;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Sedgwick Ave Display", cursive;
}
nav ul {
  float: right;
}
nav li {
  display: inline-block;
  list-style: none;
}
nav li a {
  font-size: 18px;
  color: white;
  padding: 0px 20px;
  text-decoration: none;
}
.whole-homepage {
  width: 100%;
  height:100vh;
  background-color: #0e4e3e;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 9em;
}
.content-heading {
  color: white;
  justify-content: right;
  padding-left: 8%;
  width: 60%;
}
.main-heading {
  font-size: 40px;
}
.content-para {
  padding-top: 20px;
  font-size: 16px;
  line-height: 25px;
}
.content-images {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
}
.img1 {
  width: 25%;
  height: 50vh;
  rotate: 6deg;
}
.img2 {
  width: 30%;
  height: 50vh;
  padding-left: 5%;
  rotate: 4deg;
}
.content-button button {
  padding: 10px;
  margin-top: 20px;
  border-radius:4px;
}
.btn1 {
  background-color: #fea865;
  color: black;
  padding: 20px;
  border-radius: 2px;
  border: none;
}
.btn2 {
  background-color: #3fcd93;
  color: white;
  padding: 20px;
  border-radius: 2px;
  border: none;
}
.about-us,.our-mission-vission {
  width: 100%;
}
.about-heading{
  font-size:25px;
}
.aboutus h1 {
  margin-top:2em;
  text-align: center;
  color: dimgrey;
}
.aboutuscontent {
  padding-top: 5%;
}
.paragraph {
  float: right;
}
.boxes{
  width: 50%;
  padding-right: 40px;
  justify-content: center;
}
.box1-2{
  display:flex;
  justify-content: center;
}
.box2-3{
  display: flex;
  justify-content: center;
}

.box{
  position: relative;
  width: 200px;
  height: 150px;
  font-size: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
  border-radius: 5px;
  margin-bottom: 40px;
  margin-left:4em;
  
}
.box-content{
  justify-content: center;
}
.icon{
  font-size:3em;
  padding-left:1em;
  padding-top: 10px;
}
.text{
padding:30px;
}
.aboutuscontentp1{
font-weight: 800;
font-size:20px;
padding-bottom:20px;
}
.aboutuscontentp2{
  font-weight: 600;
  color:#4ea988;
  font-size: 18px;
  padding-bottom: 20px;
}
.aboutuscontentp3{
  line-height:25px;
  padding-bottom: 15px;
}
.download{
  background-color:#4ea988;
  color: white;
  padding: 15px;
  border-radius: 6px;
}
.mission{
  display: flex;
  justify-content: space-between;
}
.mission-content{
  padding-left:5em;
  font-size:20px;
}
.mission-heading{
  padding-bottom: 20px;
  font-size:40px;
}
.mission-image{
width:50%;
display: flex;
 justify-content: space-between;
 padding-right:3em;
 padding-left:3em;
 padding-bottom: 20px;

}
.misson-img-2{
  width:50%;
  padding-right:40px;
}
.misson-img-1{
  width:40%;

}
.mission-buttons{
  padding-top: 20px;
}
.mission-button-1{
  padding:10px 20px 10px 20px;
  font-size:13px;
  color: white;
  background-color:#3FCC92;
  border:none;
  border-radius:10px;
}
.mission-button-2{
  padding:10px 20px 10px 20px;
  font-size:13px;
  color: black;
  background-color:#FFA765;
  border:none;
  border-radius:10px;
}
.vission{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top:3em;
  }
.vission-content{
  font-size:20px;
  padding-right: 3em;
}
.vission-heading{
  padding-bottom: 20px;
  font-size: 40px;
}
.vission-image{
padding-top:2em;
display: flex;  
justify-content: space-between;
  }
  .visson-img-1{
    width:45%;
    padding-left:4em;
  }
  .visson-img-2{
    width:45%;
    padding-right:10%;
  }
  
  .vission-buttons{
    padding-top: 20px;
    
  }
  .vission-button-1{
    padding:10px 20px 10px 20px;
    font-size:13px;
    color: white;
    background-color:#3FCC92;
    border:none;
    border-radius:10px;
  }
  .vission-button-2{
    padding:10px 20px 10px 20px;
    font-size:13px;
    color: black;
    background-color:#FFA765;
    border:none;
    border-radius:10px;
  }
.action-boxes{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.a-box{
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
border-radius:5px;
padding: 15px;
margin-left:60px;
font-size:20px;

}   
.action-text{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
}